body {
    color: rgba(244, 56, 178, 0.966);
    background: rgb(245, 108, 197);
    margin: 0px;
    font-family: "Knewave", system-ui;
};

header {
    border-bottom: solid 8px rgb(247, 141, 183);
    padding: 20px;
    font-size: 32px;
    color: rgba(238, 80, 199, 0.911);
}

section {
    background: rgb(238, 60, 170);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(241, 175, 222);
}

.chamada-texto {
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}
.categoria-videos {
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity:1.0;
    border: 5px solid rgb(255, 146, 211);
}

.categoria h2{
    color:rgba(238, 80, 199, 0.911);
}
