body {
    color: rgba(237, 4, 155, 0.94);
    background: rgb(245, 108, 197);
    margin: 0px;
    font-family: "Knewave", system-ui;
};

header {
    border-bottom: solid 8px rgb(247, 141, 183);
    padding: 20px;
    font-size: 32px;
    color: rgba(238, 80, 199, 0.911);
}

section {
    background: rgb(249, 39, 169);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:rgb(241, 175, 222);
}

.chamada-texto {
    margin-right: 20px;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}